extends layout

block content
  section(class='container center')
    h1= message
    h2= error.status
    //pre #{error.stack}
    iframe(width="560" height="315" src="https://www.youtube-nocookie.com/embed/VlPdfLr1FSo?controls=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)