extends layout
include relation

block content
  section(id='banner' class='banner')
    img(src='/images/burger.svg' class='banner-logo')
    h1= title
    p Welcome to #{title}
    script(src='/javascripts/main.js')
    script(src='/javascripts/people.js')
    script(src='/javascripts/relations.js')
  div(class='content')
    section(class='container')
      div(id='people')
        h2 Who Shall We Invite?
        div(id='instructions')
        div(id='addPeople')
          form
            fieldset
              label(for='nameField') Name
              input(id='nameField' type='text' placeholder='Alice')
              input(id='btnAddPerson' class='button-primary' type='submit' value='Add')
        div(id='peopleTable')
          h6 (Potential) Guestlist
          table(id='pTable')
      div(id='relations')
        h2 Now For Politics
        div(id='calculate')
        div(id='addRelations')
          form
            fieldset
              label(for='xField') Person 1
              select(id='xField')
              label(for='rField') Relation
              select(id='rField')
              label(for='yField') Person 2
              select(id='yField')
              input(id='btnAddRelation' class='button-primary' type='submit' value='Add')
        div(id='relationsTable')
          table(id='rTable')
        div(id='solve')
          button(id='btnSolve' class='button-primary') Generate Invites!
      div(id='invitations')
        div(id='results')
          table(id='iTable')
  section(id='footer' class='footer')
    div
      p(id='iconAttribution') Icons made by #[a(href="https://www.freepik.com/?__hstc=57440181.9961cf4f2c1d9c73d9a5b79259fdd77e.1558177257597.1558177257597.1558177257597.1&__hssc=57440181.3.1558177257598&__hsfp=1491053585" title="Freepik") Freepik] and #[a(href="https://www.flaticon.com/authors/good-ware" title="Good Ware") Good Ware] from #[a(href="https://www.flaticon.com/" title="Flaticon") www.flaticon.com] licensed under #[a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank") CC 3.0 BY]