@media (max-width:70rem) { 
  html{
    font-size: 100% !important;
  }
}
.banner-logo{
  width: 20rem;
}
.content {
  padding: 50px;
}
.banner{
  background-color: #f1f1f1;
  text-align: center;
}
.footer{
  background-color: #f1f1f1;
}